.task-details
  display: none

li.task-list-item
  list-style: none 
  
span.edit-task
  display: none

.panel-blue,
.panel-yellow,
.panel-red,
.panel-green,
.panel-primary
  border: none

.panel-blue
  .panel-heading
    background-color: #516695
    color: #fff 
    margin: 0

.panel-green
  .panel-heading
    background-color: #5cb85c
    color: #fff 
    margin: 0

#task-panel 
  span.show-widget,
  span.hide-widget
    display: none

    i
      color: #fff

/* Test Views */
body.test
  background-color: #dedede

  #triggers
    margin: 10px
    padding: 10px

  #view
    margin: 10px
    padding: 10px
